.content-block ul li.lever-team {
  padding-left: 0;
}
.content-block ul li.lever-team:before {
  content: none;
}
.content-block ul li.lever-job {
  padding-left: 2em;
}
.lever-job-tag {
  float: right;

}
@media screen and (max-width: 768px) {
  .lever-job-tag {
      float: none;
      display: block;
  }
}
